<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body style="background-color: rgb(114, 146, 235);">
<div id="app" align = "center" style="margin: 50px 38%;padding-top:20px;background-color:rgb(167, 182, 224) ">
    <!--post方法提交到/demo/user/login 路径-->
    <form action="/demo/User/login" method="post">
        <h3 style="margin-top: 50px;">新闻浏览系统</h3>
        用户名：<input align="center"  style="margin-top: 50px;" type="text" name="username" placeholder="用户名"/><br>
        密  码：<input align="center" style="margin-top: 30px;" type="password" name="password" placeholder="密码"/><br>
        <input align="center" style="margin-top: 50px;" type="submit" value="登录">
    </form>
    <form action="/demo/User/register" method="get">
        <input align="center" style="margin-top: 30px;margin-bottom:30px;" type="submit" value="注册">
    </form>
</div>

</body>
</html>

