<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<script >
    function myfunction()
    {
        if(document.getElementById("username").value=='')
        {
            alert("用户名不能为空");
            return false;
        }
        if(document.getElementById("password").value=='')
        {
            alert("密码不能为空");
            return false;
        }


        return true;
    }
</script>

<body style="background-color: rgb(114, 146, 235);">
<div id="register" name="register" align = "center" style="margin: 50px 38%;margin-top:100px;background-color:rgb(167, 182, 224)">
    <!--post方法提交到/demo/user/login 路径-->
    <form action="/demo/User/register" method="post">
        <h3 style="padding-top: 50px;">新闻浏览系统</h3>
        <input align="center"  style="margin-top: 50px;" type="hidden" name="id" placeholder="id"/>
        用户名:<input align="center"  style="margin-top: 50px;" type="text" name="username" id="username" placeholder="用户名"/><br>
        密码:<input align="center"  style="margin-top: 50px;" type="password" name="password" id="password" placeholder="密码"/><br>
        <input align="center"  style="margin-top: 30px;margin-bottom:30px;" type="submit" value="注册" onClick="return myfunction()"/>
        <a style="margin-left: 30px;margin-top:30px;margin-bottom:30px;" href="../User/login">返回</a>
    </form>
</div>
</body>
</html>
