<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<script >
    function myfunction()
    {
        if(document.getElementById("title").value=='')
        {
            alert("标题不能为空");
            return false;
        }
        if(document.getElementById("content").value=='')
        {
            alert("内容不能为空");
            return false;
        }


        return true;
    }
</script>
<style>
    input{
        width:100%
    }
</style>
<body style="background-color: rgb(114, 146, 235);">
<div id="app" align="center" style="margin: 20px 30%;margin-top:80px;background-color:rgb(167, 182, 224)">
    <!--post方法提交到/demo/user/login 路径-->
    <h3 style="padding-top:50px;">新闻浏览系统</h3>
    <form style="margin:20px 10%;"action="/demo/New/Add" method="post">
        <input type="hidden" name="id" placeholder="id"/>
        <p style="margin-right:85%">标题：</p>
        <input type="text" name="title" id="title" placeholder="标题"/>
        <p style="margin-right:85%">内容：</p>
        <input style="height:100px" type="text" id="content" name="content" placeholder="内容"/>
        <input style="margin-top:30px;margin-right:200px;margin-bottom:30px;width:50px;" type="submit" value="提交" onClick="return myfunction()"/>
        <a  href="../New/main">返回</a>
    </form>
    
        
​
</div>
</body>
</html>
