<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>newList</title>
</head>
<body style="background-color: rgb(114, 146, 235);">
<div align="center" style="margin-top:100px;margin: 50px 30%;background-color:rgb(167, 182, 224)">
    <br/>
    <a href="../New/Add">写新闻</a>
    <a href="../New/myInform">个人中心</a><br/>
    <h1 align="center">新闻列表</h1>

    <div  class="with:10%">
        <form action="/demo/New/search" method="post">
            <input   style="padding-left: 120px;padding-top: 5px;padding-bottom: 5px" type="text" name="KeyValue">
            <input   type="submit" style="padding-top: 5px;font-size: 10px;padding-bottom:5px" value="搜索">
        </form>
        <br/>
        <table>
            <thead>
            <tr>
                <th>#</th>
                <th>title</th>
                <th>createTime</th>
                <th>updateTime</th>
                <th>author</th>
            </tr>
            </thead>
            <tbody >
            <tr th:if="${news.size()} eq 0">
                <td colspan="3">没有用户信息！</td>
            </tr>

            <!--each来进行for循环求值-->
            <tr  th:each="n: ${news}">
                <th scope="row" th:text="${n.id}"></th>
                <td><a th:href="@{'/New/look/'+${n.title}}" th:text ="${n.title}"></a></td>
                <td th:text="${#dates.format(n.createTime,'yyyy-MM-dd HH:mm')}"></td>
                <td th:text="${#dates.format(n.updateTime,'yyyy-MM-dd HH:mm')}"></td>
                <td><a th:href="@{'/New/find/'+${n.author}}"th:text="${n.author}"></a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>